{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="pure-u-3-4" id="boardcontainer">
  <div id="board-display">{{ board1 }}</div>
  <div id="board-real-display"></div>
</div>
<div class="pure-u-1-4" id="rightpanel">
  <div>
    <div>
      <button class="pure-button" id="btn-reset" style="width:100%">Reset</button>
    </div>
    <div class="section">
      <h4>Discovery</h4>
      <div class="pure-u-1-2 minpad"><button class="pure-button pure-u-1" id="btn-step-discovery">Step</button></div><!--
      --><div class="pure-u-1-2 minpad"><button class="pure-button pure-u-1" id="btn-auto-discovery">Auto</button></div>
    </div>
    <div class="section">
      <h4>Game setup</h4>
      <button class="pure-button pure-u-1" id="btn-prepare-game">Prepare</button><br>
      <div style="width:6em;display:inline-block">Place</div>
      <button class="pure-button" id="btn-place-red">R</button>
      <button class="pure-button" id="btn-place-green">G</button>
      <button class="pure-button" id="btn-place-blue">B</button><br>
      <div style="width:6em;display:inline-block">Destination</div>
      <button class="pure-button" id="btn-destination-red">R</button>
      <button class="pure-button" id="btn-destination-green">G</button>
      <button class="pure-button" id="btn-destination-blue">B</button>
    </div>
    <div class="section">
      <h4>Game</h4>
      <button class="pure-button" id="btn-start-game">Start</button>
      <button class="pure-button" id="btn-step-game">Step</button>
    </div>
  </div>
  <div id="commandlog"></div>
</div>
<script>
function $(x) { return document.getElementById(x); }
function $xhr(method, url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState !== XMLHttpRequest.DONE) {
            return;
        }
        if (xhr.status === 200) {
            callback(xhr);
        } else {
            alert('There was a problem with the request.');
        }
    };
    xhr.open(method, url, true);
    xhr.send();
}

function parseBoardResponse(json) {
    $('board-display').innerHTML = json['board'];
    $('board-real-display').innerHTML = json['realboard'];
    const log = $('commandlog');
    if (json['commands'] !== undefined) {
        for (const cmdline of json['commands']){
            const line = document.createElement('div');
            line.classList.add('line');
            line.classList.add('b-' + cmdline.bot);
            if (cmdline.args === undefined) {
                line.innerText = cmdline.cmd;
            } else {
                line.innerText = cmdline.cmd + ' ' + JSON.stringify(cmdline.args);
            }
            log.appendChild(line);
        }
        log.scrollTop = log.scrollHeight;  // Scroll to bottom
    }
    setBoardMouseEvents();
}

$('btn-step-discovery').addEventListener('click', (event) => {
    $xhr('GET', '/step_discovery', (xhr) => {
        const json = JSON.parse(xhr.responseText);
        parseBoardResponse(json);
        if (json.discovery_end !== true) {
            $('btn-step-discovery').disabled = false;
            $('btn-auto-discovery').disabled = false;
        }
    });
    $('btn-step-discovery').disabled = true;
    $('btn-auto-discovery').disabled = true;
}, false);
$('btn-auto-discovery').addEventListener('click', (event) => {
    $xhr('GET', '/auto_discovery', (xhr) => {
        const json = JSON.parse(xhr.responseText);
        parseBoardResponse(json);
    });
    $('btn-step-discovery').disabled = true;
    $('btn-auto-discovery').disabled = true;
}, false);
$('btn-reset').addEventListener('click', (event) => {
    $xhr('GET', '/reset', (xhr) => {
        const json = JSON.parse(xhr.responseText);
        parseBoardResponse(json);
    });
    $('btn-step-discovery').disabled = false;
    $('btn-auto-discovery').disabled = false;
    $('btn-prepare-game').disabled = false;
    $('btn-start-game').disabled = false;
    $('btn-step-game').disabled = false;
    const log = $('commandlog');
    const cLog = log.cloneNode(false);
    log.parentNode.replaceChild(cLog, log);
}, false);

function cellMouseEnter(event) {
    const cell = event.target;
    if (placingRobot !== null) {
        cell.classList.add('hover-' + placingRobot);
    }
    if (placingDest !== null) {
        cell.classList.add('hover-' + placingDest);
    }
}
function cellMouseLeave(event) {
    const cell = event.target;
    if (placingRobot !== null) {
        cell.classList.remove('hover-' + placingRobot);
    }
    if (placingDest !== null) {
        cell.classList.remove('hover-' + placingDest);
    }
}
function cellMouseClick(event) {
    const cell = event.target;
    const x = cell.dataset.x, y = cell.dataset.y;
    if (placingRobot !== null) {
        $xhr('GET', '/place_bot?x=' + x + '&y=' + y + '&bot=' + placingRobot, (xhr) => {
            const json = JSON.parse(xhr.responseText);
            parseBoardResponse(json);
        });
    }
    if (placingDest !== null) {
        $xhr('GET', '/place_dest?x=' + x + '&y=' + y + '&bot=' + placingDest, (xhr) => {
            const json = JSON.parse(xhr.responseText);
            parseBoardResponse(json);
        });
    }
}
function setBoardMouseEvents() {
    const cells = $('board-display').querySelectorAll('td');
    for (let cell of cells) {
        cell.onmouseenter = cellMouseEnter;
        cell.onmouseleave = cellMouseLeave;
        cell.onclick = cellMouseClick;
    }
}

setBoardMouseEvents();

const btnPlaceRed = $('btn-place-red'),
      btnPlaceGreen = $('btn-place-green'),
      btnPlaceBlue = $('btn-place-blue');
const btnDestRed = $('btn-destination-red'),
      btnDestGreen = $('btn-destination-green'),
      btnDestBlue = $('btn-destination-blue');
const colorBtns = [
    btnPlaceRed, btnPlaceGreen, btnPlaceBlue,
    btnDestRed, btnDestGreen, btnDestBlue
];
let placingRobot = null, placingDest = null;

function placeRobot(color) {
    if (placingRobot == color) {
        placingRobot = null;
        for (let btn of colorBtns) {
            btn.disabled = false;
        }
    } else {
        placingRobot = color;
        for (let btn of colorBtns) {
            btn.disabled = true;
        }
        $('btn-place-' + color).disabled = false;
    }
}
function placeDest(color) {
    if (placingDest == color) {
        placingDest = null;
        for (let btn of colorBtns) {
            btn.disabled = false;
        }
    } else {
        placingDest = color;
        for (let btn of colorBtns) {
            btn.disabled = true;
        }
        $('btn-destination-' + color).disabled = false;
    }
}

btnPlaceRed.addEventListener('click', (event) => {
    placeRobot('red');
}, false);
btnPlaceGreen.addEventListener('click', (event) => {
    placeRobot('green');
}, false);
btnPlaceBlue.addEventListener('click', (event) => {
    placeRobot('blue');
}, false);

btnDestRed.addEventListener('click', (event) => {
    placeDest('red');
}, false);
btnDestGreen.addEventListener('click', (event) => {
    placeDest('green');
}, false);
btnDestBlue.addEventListener('click', (event) => {
    placeDest('blue');
}, false);

$('btn-prepare-game').addEventListener('click', (event) => {
    $xhr('GET', '/prepare_game', (xhr) => {
        const json = JSON.parse(xhr.responseText);
        parseBoardResponse(json);
    });
    event.target.disabled = true;
}, false);

$('btn-start-game').addEventListener('click', (event) => {
    $xhr('GET', '/start_game', (xhr) => {
        const json = JSON.parse(xhr.responseText);
        parseBoardResponse(json);
    });
    event.target.disabled = true;
}, false);
$('btn-step-game').addEventListener('click', (event) => {
    $xhr('GET', '/step_game', (xhr) => {
        const json = JSON.parse(xhr.responseText);
        parseBoardResponse(json);
        if (json.game_end !== true) {
            $('btn-step-game').disabled = false;
        }
    });
    $('btn-step-game').disabled = true;
}, false);
</script>
{% endblock %}
