html, body, .main, #boardcontainer, #rightpanel { height: 100vh; }

.robotgrid {
  font-size: 150%;
  border-collapse: collapse;
  border: 0.1em solid black;
  display: inline-table;
  vertical-align: top;
}

.robotgrid td {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
}

.robotgrid .wt-u { border-top: 0.1em solid gray; }
.robotgrid .wt-y { border-top: 0.1em solid black; }
.robotgrid .wt-n { border-top: none; }
.robotgrid .wl-u { border-left: 0.1em solid gray; }
.robotgrid .wl-y { border-left: 0.1em solid black; }
.robotgrid .wl-n { border-left: none; }
.robotgrid .c-unexp { background-color: #DDD; color: #AAA; }

.robotgrid td.hover-red { background-color: #F00 !important; }
.robotgrid td.hover-green { background-color: #0F0 !important; }
.robotgrid td.hover-blue { background-color: #00F !important; }


#rightpanel {
  display: inline-flex;
  flex-direction: column;
  flex: 1 1 0;
}
#rightpanel > * { flex: 1; overflow: auto; }
#rightpanel .section {
  border: .15em solid rgba(0, 0, 0, 0.3);
  margin-top: .2em;
  padding: .2em;
}
#rightpanel .minpad {
  padding: .2em;
  display: inline-block;
  box-sizing: border-box;
}
#rightpanel .section h4 {
  margin: 0;
  text-align: center;
}

#btn-place-red { background-color: #F99; }
#btn-place-green { background-color: #9F9; }
#btn-place-blue { background-color: #99F; }
#btn-destination-red { background-color: #FCC; }
#btn-destination-green { background-color: #CFC; }
#btn-destination-blue { background-color: #CCF; }

#commandlog {
  background: #111;
  color: #EEE;
  font-family: monospace;
}
#commandlog .line:before {
  display: inline;
  padding: 0 .2em;
  margin-right: .2em;
  height: 1em;
  content: '>';
  color: black;
}

#commandlog .line.b-red:before { background: #F00; }
#commandlog .line.b-green:before { background: #0F0; }
#commandlog .line.b-blue:before { background: #00F; }
